# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\study\TEMP\Lab3_Elevator_control_system\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
